.form {
  width: 50vw;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-field {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }
}
@media only screen and (max-width: 658px) {
  .form {
    display: grid;
    place-items: center;
    width: 100vw;
    &-field {
      display: grid;
      grid-template-columns: auto;
      place-items: center;
    }
  }
}
